<!DOCTYPE html>
<html>
    <head>
        <title>myAirline-flightservice</title>
        <style>
            body {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-align: center;
            }
            
            .container {
                margin-left: 50px;
                text-align: left;
            }
            
            .item {
                font-size: 23px;
            }

            a {
                color: blue;
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <h1>myAirline-flightservice</h1>

        <div class="container">
            <div class="item">
                <div>In order to run the whole application, got to GitHub: <a href="https://github.com/flobbe10/myAirline" target="_blank">myAirline</a>.</div>
            </div>
            <br><br>
            
            <h2>Postman</h2>
            <div class="item">
                Try a few <a href="https://www.postman.com/grey-shuttle-863417/workspace/myairline/collection/23751197-f9d2f14d-902a-4721-99b2-2fc597c86abe?action=share&creator=23751197" target="_blank">
                endpoints</a> yourself.
            </div>
            <br>

            <h2>Open API</h2>
            <div class="item">
                View all <a href="http://localhost:4001/swagger-ui/index.html#/" target="_blank">endpoints</a> available.
            </div>
            <br>

            <h2>Docker</h2>
            <div class="item">
                Get the <a href="https://hub.docker.com/repository/docker/flobbe10/myairline-flightservice/general" target="_blank">docker image</a>. <br>
                Note that it depends on MySQL (see more details on GitHub: <a href="https://github.com/flobbe10/myAirline-flightservice" target="_blank">flightservice</a>)
            </div>
        </div>
    </body>
</html>